*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px auto;
  /* align-items: center; */
  max-height: 1140px;
  max-width: 534px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result__video-container {
  width: 100%;
}

.result__video {
  width: 100%;
}

.title {
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  
}

.content__details {
}

.content__video-card {
  background-color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
}

.more-button {
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
}