*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

input {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-size: inherit;
}

input:focus {
  outline: 1px solid #fff;
  }

.button {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  color: currentColor;
  font-weight: 700;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 110px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px auto;
  align-items: center;
  max-height: 534px;
  max-width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.result__video-container {
  width: 100%;
  margin-top: 78px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
}

.title {
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  /* display: grid;
  grid-template-columns: auto 100%; */
  display: flex;
  flex-direction: row;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 26px;
}

.content__video-card {
  /* background-color: #545050; */
  /* display: flex;
  flex-direction: row; */
  /* max-height: 103px; */
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__list-item:not(last-child) {
  padding-bottom: 30px;
}

.more-button {
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  margin: 2px;
}

/* .search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
} */

.search-form__label:not(last-child) {
  margin-right: 16px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
}

.search-form__label-text {
  appearance: none;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  left: 1px;
  top: 1px;
  display: flex;
  position: relative;
}

input[type=checkbox]:checked + .search-form__pseudo-checkbox::after {
  background-color: #fff;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  min-width: 194px;
  max-height: 34px;
  padding: 6px 73.5px;
  font-size: inherit;
}

.search-form__submit-button:active {
  background: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  border: none;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
}

.more-button {
  width: 100%;
  height: 34px;
}